body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.slideshowContainer {
    width: 100%;
    height: 100vh;
}

.infinitelyLong {
    width: 100%;
    height: 40vh;
    z-index: 1;
    position: relative;
    transition: all 0.5s ease-out;
}

.slideItem {
    margin: 20px 0;
    width: 430px;
    height: 50vh;
    display: none;
    align-items: center;
}

.slideImage {
    width: 430px;
    height: 40vh;
}

.second-div .slideImage {
    height: 100%;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: 25px;
    padding: 10px;
    margin-left: 10px;
    background: gray;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    z-index: 2;
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.first-div {
    position: absolute;
    left: 1%;
    height: 40vh;
    display: inline-block;
    opacity: .7;
    padding-top: 3vh;
}

.second-div {
    position: absolute;
    left: 34.1%;
    height: 44vh;
    display: inline-block;
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.6);
    border: 5px solid green;
    z-index: 9;
    transition: all 0.5s ease;
}

.third-div {
    position: absolute;
    padding-top: 3vh;
    left: 67.5%;
    height: 40vh;
    display: inline-block;
    opacity: .7;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 3vh;
}