body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.slideshowContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.infinitelyLong {
    width: 100%;
    height: 40vh;
    z-index: 1;
    position: relative;
    transition: all 0.5s ease-out;
}

.slideItem {
    margin: 20px 0;
    width: 430px;
    height: 50vh;
    display: none;
    align-items: center;
}

.slideImage {
    width: 100%;
    height: 40vh;
    border-radius: 2.5px;
}

.second-div .slideImage {
    height: 100%;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: 25px;
    padding: 10px;
    margin-left: 10px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    z-index: 2;
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.first-div {
    position: absolute;
    left: -6%;
    height: 40vh;
    display: inline-block;
    opacity: .7;
    padding-top: 3vh;
    filter: grayscale();
    transition: all 0.5s ease;
}

.second-div {
    position: absolute;
    left: 28.1%;
    height: 44vh;
    width: 42%;
    display: inline-block;
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.6);
    border: 5px solid green;
    z-index: 9;
    transition: all 0.5s ease;
    border-radius: 7px;
}

.third-div {
    position: absolute;
    padding-top: 3vh;
    left: 73.5%;
    height: 40vh;
    display: inline-block;
    opacity: .7;
    transition: all 0.5s ease;
    filter: grayscale();
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 3vh;
}

@media only screen and (max-width: 1300px) {
    .second-div {
        left: 26%;
        width: 50%;
    }
}


/* @media only screen and (max-width: 1220px) {
    .second-div {
        left: 30.2%;
    }
} */


/* @media only screen and (max-width: 1100px) {
    .second-div {
        left: 20.2%;
        width: 60%;
    }
} */

@media only screen and (max-width: 800px) {
    .second-div {
        left: 2%;
        width: 94vw;
        transition: all 0.5s ease;
    }
    .first-div,
    .third-div {
        display: none;
    }
}